input{
    font-family: 'Inter';
}
#header .menu-navigation a{
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    /* identical to box height, or 100% */
    letter-spacing: 0.01em;
}
#header .menu-navigation a.active{
    color: #2B2B39;
    font-weight: 600;
}

/* #header .menu-action .search-box input{
    font-size: 12px;
} */

#hero{
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}

#join ul li::before{
    
        content: " ";
        width:18px;
        height:18px;
        background-image:url(../images/logo/li-decor.svg);
        margin-right: 12px;
        background-size: cover;
        background-repeat: no-repeat;
    
}